<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student's Help Desk</title>
    <link rel="stylesheet" type="text/css" href="../static/layout/styles/style.css">
</head>
{%
    if m1 == "sucess": %}
<script>
alert('FAQs Added Success');
</script>
{% endif %}
{%
  if m1 == "FAQs Adding failed": %}
<script>
alert('Registration failed');
</script>
{% endif %}
<body>
    <!-- Main Header -->
    <header class="main-header">
        <h1>Student's Help Desk</h1>
    </header>
    <!-- Navbar -->
    <nav>
        <ul>
            <li>
                <a href="/adminhome.html">Home</a>
            </li>
            
              <li class="dropdown">
                <a href="#"  class="active">Add</a>
                <div class="dropdown_list">
                   <a href="/addnotifications.html">Add Notification</a>
                <a href="/addfaqs.html">Add FAQ's</a>
                </div>
            </li>
            
            
           
            <li class="dropdown">
                <a href="#">View</a>
                <div class="dropdown_list">
                    <a href="/aviewcomplaints.html">View Complaints</a>
                    <a href="/aviewsugg.html">View Suggestions</a>
                    <a href="/aviewfaq.html">View FAQ'S</a>
                </div>
            </li>
            <li>
                <a href="/admin.html">Logout</a>
            </li>
        </ul>
    </nav>
 
    <h2 style="color: black;">Add FAQ's</h2>

    <!--Login Form-->
    <div class="login">
       
        <form action="/addfaqsact" method=post>
            <div class="input-group">
                <input type="text" name="name" required="">
                <span>Questions</span>
            </div>
            
            <div class="input-group">
                <input type="submit" name="" required="" value="Add">
            </div>
        </form>
    </div>
</body>

</html>