<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student's Help Desk</title>
    <link rel="stylesheet" type=text/css href="../static/layout/styles/style.css">
</head>


<body>
    <!-- Main Header -->
    <header class="main-header">
        <h1>Student's Help Desk</h1>
    </header>
    <!-- Navbar -->
    <nav>
        <ul>
            <li>
                <a href="adminhome.html" class="active">Home</a>
            </li>
            
              <li class="dropdown">
                <a href="#">Add</a>
                <div class="dropdown_list">
                   <a href="addnotifications.html">Add Notification</a>
                <a href="addfaqs.html">Add FAQ's</a>
                </div>
            </li>
            
            
           
            <li class="dropdown">
                <a href="#">View</a>
                <div class="dropdown_list">
                    <a href="aviewcomplaints.html">View Complaints</a>
                    <a href="aviewsugg.html">View Suggestions</a>
                    <a href="aviewfaq.html">View FAQ'S</a>
                </div>
            </li>
            <li>
                <a href="admin.html">Logout</a>
            </li>
        </ul>
    </nav>
    <h2 style="color:black;">View  Complaint</h2>
    <br><br>
    
    
    
    <center>
               
            {% if vcomplaint %}
            <table align="center" style="border-style: solid;border-collapse: collapse;margin-top:50px; text-align: center" border="1" width="80% ;">
                
                <tr STYLE="background-color: yellowgreen;font-size: 15px;">


                    <td> Name</td>
                    <td>Complaint</td>
                    <td>Delete</td>


                </tr>
                {% for name,description in vcomplaint %}



                <tr>

                    <td style="color: black;">{{name}}</td>
                    <td>{{description }}</td>
                    <td><a href="{{ url_for('bdelete',name=name,description=description) }}">Delete</a></td>


                    {% endfor %}
            </table>
            {% endif %}

</center>
    
</body>

</html>