<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student'sHelp Desk</title>
    <link rel="stylesheet" type="text/css" href="../static/layout/styles/style.css">
</head>
{%
    if m1 == "sucess": %}
<script>
alert('Registration Success');
</script>
{% endif %}
{%
  if m1 == "failed": %}
<script>
alert('Registration failed');
</script>
{% endif %}

<body>
    <!-- Main Header -->
    <header class="main-header">
        <h1>Student'sHelp Desk</h1>
    </header>
    <!-- Navbar -->
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="admin.html">Admin</a>
            </li>
            <li>
                <a href="faculty.html" class="active">Faculty</a>
            </li>
            <li>
                <a href="student.html">Student</a>
            </li>
        </ul>
    </nav>
    <!--Login Form-->
    <div class="login">
        <h2 style="color: black;">Sign In</h2>
        <form action="/facultylogact" method="POST" style="margin-top: 50px;">
            <div class="input-group">
                <input type="text" name="username" required="" >
                <span>Username</span>
            </div>
            <div class="input-group">
                <input type="password" name="password" required="">
                <span>Password</span>
            </div>
            <div class="input-group">
                <input type="submit" name="" required="" value="Login">
            </div>
        </form>
        <a href="facultyreg.html">New User Click Here....</a>
    </div>
    
</body>

</html>