<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student's Help Desk</title>
    <link rel="stylesheet" type=text/css href="../static/layout/styles/style.css">
</head>


<body>
    <!-- Main Header -->
    <header class="main-header">
        <h1>Student'sHelp Desk</h1>
    </header>
    <!-- Navbar -->
    <!-- Navbar -->
    <nav>
        <ul>
            <li>
                <a href="/facultyhome.html" >Home</a>
            </li>
            <li class="dropdown">
                <a href="#" class="active">View</a>
                <div class="dropdown_list">
                    <a href="/fviewcomplaints.html">View Complaints</a>
                    <a href="/viewsugg.html">View Suggestions</a>
                    <a href="/fviewfaq.html">View FAQ'S</a>
                </div>
            </li>
            <li>
                <a href="/faculty.html">Logout</a>
            </li>
        </ul>
    </nav>
    <h2 style="color:black;">View  Complaint</h2>
    <br><br>
    
    
    
    <center>
               
            {% if vcomplaint %}
            <table align="center" style="border-style: solid;border-collapse: collapse;margin-top:50px; text-align: center" border="1" width="80% ;">
                
                <tr STYLE="background-color: lightsalmon;font-size: 15px;">


                    <td> Name</td>
                    <td>Complaint</td>
                    


                </tr>
                {% for name,description in vcomplaint %}



                <tr>

                    <td style="color: black;">{{name}}</td>
                    <td>{{description }}</td>
                   


                    {% endfor %}
            </table>
            {% endif %}

</center>
    
</body>

</html>