<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student's Help Desk</title>
    <link rel="stylesheet" type="text/css" href="../static/layout/styles/style.css">
</head>

<body>
    <!-- Main Header -->
    <header class="main-header">
        <h1>Student's Help Desk</h1>
    </header>
    <!-- Navbar -->
    <nav>
        <ul>
            <li>
                <a href="index.html" class="active">Home</a>
            </li>

            <li>
                <a href="admin.html">Admin</a>
            </li>
            <li>
                <a href="faculty.html">Faculty</a>
            </li>
            <li>
                <a href="student.html">Student</a>
            </li>
        </ul>
    </nav>
    <br><br>
<center><img src="static/images/bgimg.png" style="box-shadow: 0 0 20px black;"></img></center>
    
</body>

</html>